<nav class="nav">
  <app-finder
    (inputChange)="onChangeHandler($event)"
    [placeholder]="'Buscar Productos'"
  ></app-finder>

  <div class="rightpos">
    <app-cart-button></app-cart-button>

    <app-button
      *ngIf="!isAuthenticated"
      (clickEvent)="startSessionHandler()"
      [width]="'8rem'"
      >Iniciar Sesion</app-button
    >
    <div
      *ngIf="isAuthenticated"
      (mouseenter)="hoverHandler()"
      (mouseleave)="unhoverHandler()"
      class="authContainer"
    >
      <app-user-portrait
        [username]="username"
        [imgUrl]="imgUrl"
      ></app-user-portrait>
      <app-accordion
        @accordion-animation
        *ngIf="isButtonVisible"
        [visible]="closeAccordion"
        (clickHandler)="logoutHandler()"
      >
      </app-accordion>
    </div>
  </div>
</nav>
