.nav {
  display: flex;
  position: fixed;
  left: 20vw;
  padding: 0.4rem 1.3rem;
  width: 80vw;
  height: 4rem;
  top: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem #888888;
  z-index: 50;
  background-color: white;
  align-items: center;
}

.rightpos {
  justify-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.authContainer {
  position: relative;
  top: 0;
  right: 0;
  width: 10rem;
}
