<div class="modal">
  <div class="imgcontainer">
    <img [src]="item.imageUrl" [alt]="alttext" />
  </div>
  <div class="contentcontainer">
    <div class="closing_button_container">
      <button (click)="closeModal()" class="closing_button">X</button>
    </div>
    <h1>{{ item.description }}</h1>
    <p class="h3">SKU: {{ item.code }}</p>
    <span> $ {{ item.price }} /{{ item.unit }} </span>
    <hr />
    <div class="quantity_container">
      <button (click)="removeHandler()" class="white_button">-</button>
      <input type="number" [(ngModel)]="quantity" />
      <button (click)="addHandler()" class="green_button">+</button>
    </div>
    <div class="button_container">
      <app-button (clickEvent)="onAddToCart()" width="100%">
        Anadir al Carrito
      </app-button>
    </div>
  </div>
</div>
