.content {
  width: 100vw;
  height: 100vh;
  z-index: 150;
}

.content button {
  margin-top: 0.5rem;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

dialog_entering {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

dialog_closing {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
