<div class="main">
  <app-full-screen-dialog *ngIf="modal">
    <app-viewmodal
      [isVisible]="modal === 'detail'"
      *ngIf="modal === 'detail'"
      [ngStyle]="leavingStyle"
      class="viewModal"
      @modalAnimation
    ></app-viewmodal>

    <app-cartmodal
      @modalAnimation
      [ngStyle]="leavingStyle"
      class="cartModal"
      [visible]="modal === 'cart'"
      *ngIf="modal === 'cart'"
    ></app-cartmodal>
  </app-full-screen-dialog>
  <app-spinner *ngIf="isSpinner" ></app-spinner>
  <div class="card_container">
    <app-card
      class="card"
      *ngFor="let item of items"
      [imgsrc]="item.imageUrl"
      [description]="item.description"
      [code]="item.code"
      [price]="item.price"
      (eventEmitter)="eventHandler($event, item)"
    ></app-card>
  </div>
</div>
