.main {
  position: relative;
  top: 6.5vh;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  background-color: rgb(255, 247, 247);
  padding-top: 1rem;
  color: rgb(130, 130, 130);
  overflow: scroll;
}

.card {
  // border: 0.1rem solid rgb(192, 192, 192);
  // transform: scale(1);
  width: 22%;
  height: 20rem;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2rem;
  // border-radius: 1.2rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // background-color: white;
  // margin-left: 1.5%;
  // margin-right: 1.5%;
  // margin-bottom: 2rem;
  // transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.title {
  color: rgb(130, 130, 130);
  font-size: 1.8rem;
  margin-left: 10%;
}

.card_container {
  margin: 1rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(255, 247, 247);
  margin-bottom: 2rem;
}

.cartModal {
  position: absolute;
  width: 48vw;
  max-height: 50vh;
  top: 22.5vh;
  left: 24vw;
  background-color: white;
  z-index: 105;
  border-radius: 1rem;
  overflow-y: auto;
}

.viewModal {
  position: absolute;
  width: 48vw;
  height: 55vh;
  top: 22.5vh;
  left: 24vw;
  // border-radius: 1rem;
  background-color: white;
  // display: flex;
  z-index: 105;
  border-radius: 1rem;
  overflow-y: auto;
  // transform: translateY(0);
  // transition: transform 0.3s ease-in;
}

.alertEnter {
  opacity: 0;
}
.alertEnterActive {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.alertExit {
  opacity: 1;
}
.alertExitActive {
  opacity: 0;
  transition: opacity 600ms ease-out;
}

.visible {
  z-index: 105;
}
