button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0.01rem solid #2b8303;
  color: white;
  font-weight: bolder;
  background-color: #2b8303;
  text-align: center;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
}
