.cartlogo {
  border-left: 0.1rem solid rgb(190, 190, 190);
  border-right: 0.1rem solid rgb(190, 190, 190);
  display: flex;
  cursor: pointer;
  position: relative;
  right: 0rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.cartlogoimage {
  width: 4rem;
  height: 3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0 0;
}

.badge-container {
  border-radius: 50%;
  color: white;
  position: absolute;
  font-size: 0.9rem;
  font-weight: bolder;
  left: 20%;
  top: 23px;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
