<div class="container">
  <div class="imgContainer">
    <img [src]="item.item.imageUrl" alt="imagen descriptiva" />
  </div>
  <div class="dataholder">
    <p>{{ item.item.description }}</p>
    <p class="unidad">Unidad:</p>
    <p>$ {{ item.item.price }}</p>
  </div>
  <div class="quantityContainer">
    <button (click)="removeHandler()" class="white_button">-</button>
    <p>{{ item.quantity }}</p>
    <button (click)="addHandler()" class="green_button">+</button>
    <div class="subtotal">$ {{ item.quantity * item.item.price }}</div>
  </div>
</div>
