.modal {
  // position: absolute;
  // width: 48vw;
  // max-height: 50vh;
  // top: 22.5vh;
  // left: 24vw;
  border-radius: 1rem;
  // background-color: white;
  display: flex;
  flex-wrap: wrap;
  // z-index: 105;
  overflow-y: auto;
}

.item_container {
  width: 80%;
  height: 8rem;
  margin-left: 10%;
  margin-top: 2rem;
}

.totalizer_container {
  width: 100%;
  display: flex;
  z-index: 105;
  align-items: center;
}

// .modal_opening {
//   position: absolute;
//   width: 48vw;
//   max-height: 50vh;
//   top: 22.5vh;
//   left: 24vw;
//   border-radius: 1rem;
//   background-color: white;
//   display: flex;
//   flex-wrap: wrap;
//   z-index: 105;
//   transform: translateY(-10rem);
// }

.modal_closing {
  transform: translateY(10rem);
  transition: transform 300ms ease-out;
}

.hr {
  z-index: 105;
  flex: 0 0 100%;
  border-top: 2px dashed red;
  margin-top: 2rem;
  height: 0.1rem;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.testing {
  width: 100%;
  transform: translateY(0);
}
