/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  /* font-family: 'Roboto', sans-serif; */
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
}
/* 
html{
  /* height: 100%; */
/* } */

/* html{} */

/* html{
  
} */

.container {
  top: 0;
  left: 0;
}
